@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
*{
  box-sizing: border-box;
}

body{
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  text-shadow:2px 2px rgb(32, 32, 32);
  color:rgb(18, 17, 17);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size:cover;
  /* background-color: black; */
  margin: 0;
  padding: 0;
  border: 0;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7;
  overflow-x: hidden;
}

a:link, :visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

#header {
  transition: all 0.5s;
  z-index: 997;
  position:fixed;
  top: 0;
  right: 0;
  left: 0;
}

.top-fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.header-container{
  border-bottom: 2px solid rgba(48, 47, 47, 0.25);
  background-color: rgb(20, 19, 19);
  border-bottom: 2pxsolidrgba(51,51,51,.25);
  font-family: "FF Mark W05",Arial,sans-serif;
  font-weight: bold;
  line-height: normal;
  position: relative;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  z-index: 30000;
}

.ourLogo{
  padding: 20px;
  font-size: 20px;
  display:flex;
  float: left;
  align-items: center;
}

.contents{
  display: flex;
  flex:1;
  align-items: center;
  justify-content:center;
}

.contents li{
  display:inline-flex;
  font-size: 20px;
  padding: 20px;
}

.media{
  display:contents;
  flex:1;
  align-items: center;
  justify-content:right;
}

.media li{
  padding: 20px;
}

.media img{
  max-width: 100%;
  width: 100%;
  height: 40px;
}

.my-title{
  color: rgb(11, 11, 11);
  background: linear-gradient(
    90deg,transparent 0,hsla(0,0%,100%,.5) 25%,hsla(0,0%,100%,.5) 75%,transparent);
  display:block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 100px;
 margin-top: 35%;
 margin-left: 35vw;
  z-index: 100;
}

.Welcome{
  text-align:center;
  background-image:url('websiteBG.png');
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
  object-fit: cover;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  position: relative;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  z-index: -10;
}

 @media screen and (min-width: 960px){
  .Welcome {
    height: calc(100vh);
    min-height: 600px;
    max-height: 900px;
  }
}

.Games-wrapper{
  position: relative;
  color: #f6eded;
  background-color: #0f0e0e;
  /* background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%); */
  overflow:auto;
  background-size:cover;
  padding:0, 10%;
  border-top: 2px solid #0b0b0b;
}

.section{
  margin:auto;
  position: relative;
  width: 80%;
  display: block;
}
.full-height{
  min-height: 100vh;
}
.over-hide{
  overflow: hidden;
}
.padding-tb{
  padding: 220px 0;
}
[type="radio"]:checked,
[type="radio"]:not(:checked){
  position: absolute;
  left: -9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
  position: relative;
  cursor: pointer;
  margin: 0 auto;
  text-align: center;
  margin-right: 6px;
  margin-left: 6px;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid #bdc3c7;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-image: url('https://assets.codepen.io/1462889/sl1.jpg');
  animation: border-transform 6s linear infinite alternate forwards;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    animation-play-state: paused;
}
.checkbox.scnd + label{
  background-image: url('https://assets.codepen.io/1462889/sl2.jpg');
}
.checkbox.thrd + label{
  background-image: url('https://assets.codepen.io/1462889/sl3.jpg');
}
.checkbox.foth + label{
  background-image: url('https://assets.codepen.io/1462889/sl4.jpg');
}


.checkbox:checked + label{
  box-shadow: 0 8px 25px 0 rgba(16,39,112,.3);
  transform: scale(1.3);
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    animation-play-state: running;
}
@keyframes border-transform{
  0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
  14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
  28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
  42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
  56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
  70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
  84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}

.slider-height-padding {
  padding-top: 540px;
  padding-left:30%;
}

.slider-contents {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  z-index: 100;
  padding: 0;
  margin: 0;
  list-style: none;
}
.slider-contents .slider-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  z-index: 100;
  padding: 0;
  margin: 0;
  list-style: none;
  height: 500px;
  border: 5px solid #bdc3c7;
  background-size: cover;
  background-position: center;
  background-image: url('thumbnailaspne.png');
  border-radius: 50%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 2.7;
  color: #e7e5df;
  writing-mode: vertical-rl;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 8px 25px 0 rgba(16,39,112,.1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.slider-contents .slider-content span {
  mix-blend-mode: difference;
  margin-top:6px;
}
.slider-contents .slider-content:nth-child(2) {
  background-image: url('AeroVector.png');
}
.slider-contents .slider-content:nth-child(3) {
  background-image: url('studio128transparent.png');
}
.slider-contents .slider-content:nth-child(4) {
  background-image: url('studio128transparent.png');
}

.checkbox.frst:checked ~ .slider-contents .slider-content:nth-child(1) {
  opacity: 1;
  pointer-events: auto;
  border-radius: 16px;
}
.checkbox.scnd:checked ~ .slider-contents .slider-content:nth-child(2) {
  opacity: 1;
  pointer-events: auto;
  border-radius: 16px;
}
.checkbox.thrd:checked ~ .slider-contents .slider-content:nth-child(3) {
  opacity: 1;
  pointer-events: auto;
  border-radius: 16px;
}
.checkbox.foth:checked ~ .slider-contents .slider-content:nth-child(4) {
  opacity: 1;
  pointer-events: auto;
  border-radius: 16px;
}

.logo {
  position: absolute;
  top: 50px;
  left:45vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
  transition: all 250ms linear;
}
.logo img {
  height: 200px;
  width: auto;
  display: block;
}

@media (max-width: 767px) {
  .slider-height-padding {
    padding-top: 340px;
  }
  .slider-contents .slider-content {
    height: 300px;
    font-size: 13px;
    letter-spacing: 1px;
  }
}

@media (max-width: 575px) {
  .slider-height-padding {
    padding-top: 240px;
  }
  .slider-contents .slider-content {
    height: 200px;
  }
}

.twitter-feed{
  /* background-color:#aebbc5; */
  border-top: 2px solid #0b0b0b;
  background-color:#9c0e0e;
  padding-top: 40px;
  padding-bottom: 60px;
  justify-content: center;
  display:flex;
  flex-wrap: wrap;
}

.twitter-text{
  font-size:30px;
}

#Join{
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
  position:absolute;
  color:rgb(16, 16, 16);
  text-align: center;
  background-color:#aebbc5;
  background-size:cover;
  /* background-color:#9c0e0e; */
  overflow:auto;
  font-size: 30px;
  border: 0;
  display:block;
  padding-top: 40px;
  padding-bottom: 40px;
}

.button_join {
  display: inline-block;
  border-radius: 15px;
  background-color: #ee1717;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button_join span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button_join span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 4px;
  right: -20px;
  transition: 0.5s;
}

.button_join:hover span {
  padding-right: 25px;
}
.button_join:hover{
  background-color: #178aee;
}
.button_join:hover span:after {
  opacity: 1;
  right: 0;
  transform: rotate(180deg);
}

.About{
  text-align:center;
  text-decoration: none;
  text-shadow:none;
}

.team-roles-box{
  overflow:auto;
  display: flex;
  flex-wrap:wrap;
  flex:1;
  text-align:center;
  padding-top:20px;
  padding-left:30px;
  padding-right:30px;
  height:auto;
  position:relative;
  font-size:15px;
  text-decoration: none;
  text-shadow:none;
  height:100%;
}

.box{
  width:33.3333%;
  padding:30px;
  margin-top:0;
}

.box img{
  border-radius: 50%;
  align-items: center;
}

.final-notes{
  text-decoration: none;
  text-shadow:none;
  padding-left: 30px;
  padding-right: 30px;
}

.final-links{
  display:block;
  color:rgb(18, 17, 17) !important;
  text-decoration: none;
  text-shadow:none;
}

.final-line{
  border:none;
  background-color:#0b0b0b;
  color:#0b0b0b;
  height:1px;

}
/* .ending-logo{
  display:block;
  position:absolute;
  justify-content:center;
  left:0;
  
} */

/* @media screen and (min-width: 960px){
  .Games-wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.Our-Games{
  margin-bottom: 3.75rem;
  text-align: center;
}

@media screen and (min-width: 960px){
  .Our-Games h1 {
    font-size: 6rem;
  }
} */